<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
<script src="http://localhost:9292/collector.js"></script>

<h1>Pub/Sub demo</h1>
<p>You can see the publish/subscribe in action right here! <br/>
Just setup the resources adaptor and resources catalog applications,
and when a new sensor data is available, we will collect it and the data
will be shown.<br/>

<div id='events-listener'></div>
</p>

<script type="text/javascript">
$(function() {
  console.log('Starting the server listening')
  var faye = new Faye.Client('http://localhost:9292/collector');
  faye.subscribe("/resources_data", function(data) {
	console.log(eval(data));
	$('#events-listener').append("<p>"+ JSON.stringify(data, undefined, 2) +"</p>");
  });
});
</script>